___

<a href='http://www.pieriandata.com'> <img src='https://www.python.org/static/community_logos/python-logo-master-v3-TM.png' /></a>
___

# Python Crash Course

Please note, this is not meant to be a comprehensive overview of Python or programming in general, if you have no programming experience, you should probably take my other course: [Complete Python Bootcamp](https://www.udemy.com/complete-python-bootcamp/?couponCode=PY20) instead.

**This notebook is just a code reference for the videos, no written explanations here**

This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists [  ]
    * Dictionaries
    * Booleans
    * Tuples ( )
    * Sets { }
* Comparison Operators
* if,elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

### Data types

In [1]:
1 #integer

1

In [2]:
1.0 #floating point number (decimal)

1.0

In [3]:
1 + 1 # addition

2

In [4]:
3 * 3 # multiplication

9

In [5]:
1 / 2 # devision (will get floating point number as the result)

0.5

In [6]:
10 ** 2 # power of

100

In [7]:
2 + 3 * 5 + 5 # Math operation (multiply first)

22

In [8]:
(2 + 3) * (5 + 5)

50

In [5]:
5 % 2 # mod (get the remainder of devision, remainder 1 is odd number)

1

In [4]:
v = 2 # assign variable

In [14]:
v + 4

6

In [15]:
v = v + v

In [16]:
v

4

In [22]:
"I can't go" # single of double quote create string type

"I can't go"

In [25]:
x = 'hello' # variable of string

In [27]:
x

'hello'

In [26]:
print(x)

hello

In [2]:
num = 12 
name = 'Sam'

In [3]:
print('My number is {} and my name is {}'.format(num,name))  # put it where you want

My number is 12 and my name is Sam

In [4]:
print('My number is {one} and my name is {two}, more {one}'.format(one=num,two=name))

My number is 12 and my name is Sam, more 12

In [5]:
s = 'hello'

In [6]:
s[0] # index the letter 0 is the first one

'h'

In [7]:
t = 'abcdefghijk'

In [8]:
t[:3] # obtain first 3

'abc'

In [11]:
t[4:7] # obtain from... to

'efg'

In [12]:
[1,2,3] # list of number

[1, 2, 3]

In [13]:
['a','b','c'] # list of string

['a', 'b', 'c']

In [16]:
my_list = ['a','b','c']

In [20]:
my_list.append('d') # add more string in the list

In [19]:
my_list

['a', 'b', 'c', 'd']

In [21]:
my_list[2] # index in list

'c'

In [22]:
my_list[1:3]

['b', 'c']

In [23]:
my_list[2] = 'NEW' # insert the new value

In [25]:
my_list

['a', 'b', 'NEW', 'd', 'd']

In [26]:
nest = [1,2,[3,4]] # list inside list (nest)

In [27]:
nest

[1, 2, [3, 4]]

In [29]:
nest[2]

[3, 4]

In [31]:
nest[2][0] # get number 3 in the nest

3

In [32]:
nest_new = [1,2,3,[4,5,['target']]]

In [33]:
nest_new[3]

[4, 5, ['target']]

In [34]:
nest_new[3][2]

['target']

In [35]:
nest_new[3][2][0] # remove blanket

'target'

In [36]:
print(nest_new[3][2][0]) # remove blanket and quotation

target

In [40]:
d = {'key1' : 'value', 'key2':123} # create dictionary same as hash table

In [41]:
d['key1']

'value'

In [42]:
d['key2']

123

In [43]:
d = {'k1':[1,2,3]} # list in dictionary

In [48]:
d['k1']

[1, 2, 3]

In [57]:
d['k1'][0] # search specific number in list

1

In [58]:
my_list = d['k1'] # add list to variable

In [59]:
my_list

[1, 2, 3]

In [60]:
my_list[2] # search specific number in list in variable

3

In [61]:
d = {'k1':{'inner':[1,2,3]}} # nest dictionary in dictionary

In [64]:
d['k1']['inner']

[1, 2, 3]

In [65]:
d['k1']['inner'][2]

3

In [66]:
True  # boolean

True

In [68]:
False # boolean

False

In [69]:
t = (1,2,3) # tuple similar to list but use parenthesis instead blanket

# In list, you can insert new value like my_list[2] = 'NEW' 
# but tuple can't so user can't change the value inside

In [70]:
{1,2,3} # set use curly blanket

{1, 2, 3}

In [72]:
{1,1,1,2,2,2,2,3,3,3,3,3} # set just only see the unique element

{1, 2, 3}

In [73]:
set([1,2,2,2,2,2,2,2,6,6,6,6,7]) # set function

{1, 2, 6, 7}

In [74]:
s = {1,2,3}

In [75]:
s.add(4) # add value to set if you re-add 4 again, it won't duplicate

In [76]:
s

{1, 2, 3, 4}

### Comparison Operators

In [77]:
1 > 2

False

In [79]:
3 > -1

True

In [80]:
3 == 3

True

In [81]:
1 != 3 # not equal to

True

In [82]:
(1 < 2) and (2 < 3) # and operator

True

In [86]:
(1 < 3) or (2 > 3) or (1 != 1) # or (require only one truth)

True

In [87]:
if 1<2:  # if else else if statement
    print('correct')

correct

In [88]:
if True:
    x = 2+2

In [89]:
x

4

### if,elif, else Statements

In [90]:
if 1 == 2:
    print('first')
else:
    print('last')

last

In [93]:
if 1 == 2:               # print the first one that is truth
    print('first')
elif 3 == 3:
    print('middle')     
elif 4 == 4:
    print ('middle 2')
else:
    print('last')

middle

### For Loops

In [1]:
seq = [1,2,3,4,5]

In [2]:
for num in seq:
    print(num)   #print every element in the list above

1
2
3
4
5

In [3]:
for num in seq:
    print('hello')

hello
hello
hello
hello
hello

In [4]:
num

5

### while Loops

In [7]:
i = 1     
while i < 5:
    print('i is: {}'.format(i))
    i = i+1 
    # print until i = 5

i is: 1
i is: 2
i is: 3
i is: 4

In [11]:
for x in range(0,5): # for loop with range
    print(x)

0
1
2
3
4

### range()

In [1]:
range(0,6)

range(0, 6)

In [14]:
list(range(0,6)) # convert range to list

[0, 1, 2, 3, 4, 5]

In [16]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### list comprehension

In [17]:
x = [1,2,3,4]

In [18]:
out = [] # empty list

for num in x:  # x is list we created earlier
    out.append(num**2)
print(out)

# put every number in list in the blanket in out and power of 2

[1, 4, 9, 16]

In [22]:
# list comprehension translate for loop code to list comprehension and will get the same result
# start with what you want first then for loop

out = [num**2 for num in x]
print(out)

[1, 4, 9, 16]

### funtions

In [23]:
# define simple function
def my_func(param1): 
    print(param1)

In [24]:
my_func('hello')

hello

In [28]:
# pass the name to function
def my_func(name): 
    print('hello '+name)

In [29]:
my_func('John')

hello John

In [34]:
my_func  # without () means you just call the function and what's the object

In [35]:
# pass the name to function
def my_func(name= 'Default Name'): 
    print('hello '+name)

In [36]:
my_func()

hello Default Name

In [37]:
# use 'return' to return the value 
# when you use 'return', you need to equal something

def square(num):
    return num**2 # return value will power of 2

In [38]:
output = square(2)

In [39]:
output

4

In [4]:
## put a documentation string on function

def square(num):
    """
    THIS IS A DOCSTRING.
    CAN GO MULTIPLE LINES.
    THIS FUNCTION SQUARES A NUMBER.
    
    """
    return num**2

In [5]:
output = square(8) #it will shown nothing on the result
output

64

In [44]:
square # but you can see description by cursor to the end of the function and press SHIFT + TAB

### lambda expressions
### map and filter

In [45]:
# create basic function first
def times2(var):
    return var*2

In [51]:
times2(6)

12

In [52]:
# map function 
# If we want to apply function to every element in list below
seq = [1,2,3,4,5]

In [53]:
# we can use for loop and append the list to do that
# In this case, we use map function

list(map(times2,seq)) # return times2 function map in every element in seq variable and out to list

[2, 4, 6, 8, 10]

In [50]:
# or you can rewrite this function as lambda expression like
t = lambda var:var*2

In [55]:
# do the same with mapfunction
list(map(lambda var:var*2 ,seq))

[2, 4, 6, 8, 10]

In [58]:
# filter result form function or lambda expression
list(filter(lambda var: var%2==0,seq)) # return only even number of the list

[2, 4]

### methods

In [59]:
s = 'Hello, my name is Sam'

In [61]:
# you can type s. and then press tab see all possible method
s.lower() #lowercase all letters

'hello, my name is sam'

In [62]:
s.upper() #Upperrcase all letters

'HELLO, MY NAME IS SAM'

In [63]:
s.split() # to split the strings based on whitespace

['hello,', 'my', 'name', 'is', 'Sam']

In [66]:
tweet = 'Go Sports! #Sports GoGoGo'
tweet.split()

['Go', 'Sports!', '#Sports', 'GoGoGo']

In [68]:
# split just only what we inform
tweet.split('#') # split hashtag only

['Go Sports! ', 'Sports GoGoGo']

In [71]:
tweet.split('#')[0]

'Go Sports! '

In [72]:
k = {'k1':1, 'k2':2}

In [74]:
k.keys() # return only keys in dictionary

dict_keys(['k1', 'k2'])

In [76]:
k.items() # return dictionary items

dict_items([('k1', 1), ('k2', 2)])

In [78]:
k.values() # return values in dictionary

dict_values([1, 2])

In [81]:
lst = [1,2,3] # create list

In [82]:
lst

[1, 2, 3]

In [83]:
lst.pop() # bring the last value

3

In [84]:
lst # the last value is gone

[1, 2]

In [85]:
lst = [1,2,3,4,5]

In [86]:
item = lst.pop() # pull only the last number

In [87]:
lst # the last value is gone

[1, 2, 3, 4]

In [88]:
item

5

In [89]:
first = lst.pop(0) # take out the first value

In [90]:
first

1

In [92]:
lst.append('new') #append the new item to the list

In [93]:
lst

[2, 3, 4, 'new']

In [94]:
'x' in [1,2,3] #find 'x' in list

False

In [95]:
'x' in [1,2,3, 'x']

True

In [96]:
x = [(1,2),(3,4),(5,6)] # tuples in a list

In [99]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [101]:
# tuple unpacking --> unpack only first values on each tuple
for (a,b) in x:
    print(a)

1
3
5

In [103]:
for a,b in x:
    print(b)

2
4
6